target/
!.mvn/wrapper/maven-wrapper.jar

node_modules
yarn.lock

# for logging

my.log**
my.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr