<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="#{pagetitle.home}">Index</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="row">
        <h1 class="alert alert-info" th:text="#{message.regSucc}">success</h1>
        <br/>
        <span th:if="${param.token != null}" th:text="#{token.message}">token</span>
        <span th:text="${param.token}">token</span>
        <br/>
        <a class="btn btn-primary" th:href="@{/login}" th:text="#{label.login}">login</a>
    </div>
</div>
</body>
</html>
